body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  color  : yellow;
  cursor : pointer;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.post {
  background: white;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
}

.post img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
}


.post img {
  width: 100%;
  border-radius: 5px;
}

.post img {
  transition: transform 0.3s ease;
}

.post img:hover {
  transform: scale(1.03);
}

.date {
  color: gray;
  font-size: 14px;
}

.comments {
  margin-top: 20px;
}

.comments input,
.comments textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.comments button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.comment {
  background: #eee;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }
}
